.inputWrapper{
margin-bottom: 20px;
}
.inputWrapper label{
    display: block;
    text-align: right;
    margin-bottom: 10px;
}
.inputWrapper input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: right;
}